@{
    ViewBag.title = "Orders";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    @*<div class="small-box bg-white card-outline card-info">
                            <div class="inner text-info">
                                <h3>Manage Orders:</h3>
                                <p>Home / Orders</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-shopping-cart text-info"></i>
                            </div>
                        </div>*@
                </div><!-- /.col -->
                <div class="col-sm-6">
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title"><i class="fas fa-shopping-cart"></i> Orders</h4>
                        </div>
                        <div class="card-body">
                            <table id="order-table" class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th>Audit</th>
                                        <th>Order #</th>
                                        <th>Product</th>
                                        <th>Qty</th>
                                        <th>Customer Name</th>
                                        <th>Date Issued</th>
                                        <th>Date Due</th>
                                        <th>Invoice Amount</th>
                                        <th>Order Status</th>
                                        <th>Order Progress</th>
                                        <th>%</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>

        </div>
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
<!-- Modal -->
<div class="modal fade" id="view-order">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="view-order-title" class="modal-title">@*<i class="fa fa-plus"></i>*@</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="timeline">
                    <!-- ko foreach: OrderAuditData -->
                    <div class="time-label">
                        <span class="" data-bind="text: DateCreated, class: Theme"></span>
                    </div>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <div>
                        <i class="fas fa-user" data-bind="class: Theme"></i>
                        <div class="timeline-item">
                            <span class="time" data-bind="text: DateCreated"></span>
                            <h3 class="timeline-header"><a href="#" data-bind="text: UserName"></a></h3>

                            <div class="timeline-body" data-bind="html: Description"></div>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- END timeline item -->
                    <div>
                        <i class="fas fa-circle bg-gray"></i>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                @*<button id="btn-invoice-view" type="button" class="btn btn-light" onclick=""><i class="fas fa-file-invoice text-info"></i> Invoice</button>*@
            </div>
        </div>

    </div>
    <!-- /.modal-content -->
</div>

<!-- Invoice View Modal -->
<div class="modal fade" id="invoice-view-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--<div class="modal-header">
                <h5 id="view-order-title" class="modal-title">-->
            @*<i class="fa fa-plus"></i>*@
            <!--</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>-->
            <div class="modal-body">
                <div class="p-3 mb-3">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>
                                <img id="logo" src="" alt="" style="height:150px;" />
                            </h4>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row" style="font-family: 'Century Gothic' !important;">
                        <div class="col-lg-12 table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>
                                            <b>Date:</b> <span id="order-date"></span><br>
                                            <b>Order ID: </b><span id="order-id"></span><br>
                                            <b>VAT Number:</b> <span id="vat-number"></span>
                                        </td>
                                        <td>
                                            From
                                            <address>
                                                <strong><span id="organisation-name"></span></strong><br>
                                                <span id="organisation-street"></span><br>
                                                <span id="organisation-suburb"></span>, <span id="organisation-city"></span> <span id="organisation-code"></span><br>
                                                Phone: <span id="organisation-cell"></span><br>
                                                Email: <span id="organisation-email"></span>
                                            </address>
                                        </td>
                                        <td>
                                            To
                                            <address>
                                                <strong><span id="customer-name"></span></strong><br>
                                                <span id="customer-address"></span><br>
                                                Phone: <span id="customer-cell"></span><br>
                                                Email: <span id="customer-email"></span>
                                            </address>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Order Id</th>
                                        <th>Product</th>
                                        <th>Qty</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td id="table-order-id"></td>
                                        <td id="product-name"></td>
                                        <td id="num-of-orders"></td>
                                        <td><span id="order-worth"></span></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align:right;"><b>Subtotal:</b></td>
                                        <td><span id="order-worth-snd"></span></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align:right;"><b>VAT (15%):</b></td>
                                        <td><span id="vat-amount"></span></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align:right;"><b>Shipping:</b></td>
                                        <td><span id="shipping-amount"></span></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align:right;"><b>Total:</b></td>
                                        <td><span id="order-total"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-12 table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p class="lead">Banking Details:</p>
                                            <table class="table table-bordered">
                                                <tr>
                                                    <td><b>Account Name:</b></td>
                                                    <td><span id="account-name"></span></td>
                                                </tr>
                                                <tr>
                                                    <td><b>Bank:</b></td>
                                                    <td><span id="bank-name"></span></td>
                                                </tr>
                                                <tr>
                                                    <td><b>Account Number:</b></td>
                                                    <td><span id="account-no"></span></td>
                                                </tr>
                                                <tr>
                                                    <td><b>Branch:</b></td>
                                                    <td><span id="bank-branch"></span></td>
                                                </tr>
                                                <tr>
                                                    <td><b>Branch Code:</b></td>
                                                    <td><span id="branch-code"></span></td>
                                                </tr>
                                                <tr>
                                                    <td><b>Reference:</b></td>
                                                    <td><span id="client-reference"></span></td>
                                                </tr>

                                            </table>
                                        </td>
                                        <td>
                                            <p class="lead"><b>Tax Invoice</b></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button id="invoice-pdf" type="button" class="btn btn-light" onclick="window.location.href = '/Inventory/CustomerInvoicePdf?OrderId=' + $('#order-id').text().substr(1, $('#order-id').text().length) + '&organisationName=' + $('#organisation-name').text();"><i class="fa fa-download text-info"></i> Generate PDF</button>
                <button id="invoice-pdf-lock" type="button" class="btn btn-light" disabled><i class="fa fa-lock text-purple"></i> Download PDF - Upgrade To Standard</button>
            </div>
        </div>

    </div>
    <!-- /.modal-content -->
</div>


<!-- Modal -->
<div class="modal fade" id="createOrderEmailViewModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="" class="modal-title">Create Email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">

                    <div class="card-header card-header-primary">
                        <h5 class="card-title"><i class="fa fa-envelope"></i> Enter Email Details</h5>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <br />
                        <div class="row">
                            <input id="createEmailOrderId" hidden />
                            <div class="mb-3 col-md-12">
                                <div class="input-group form-group bmd-form-group is-filled" style="border-color: none !important;">
                                    <label class="bmd-label-floating">Subject</label>
                                    <input id="emailSubject" class="form-control" type="text">
                                    <div class="input-group-append">
                                        @*<div class="input-group-text  bg-white border-white">
                                                <span class="fas fa-envelope text-info"></span>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="summernote">Body</label>
                                <textarea id="summernote" style="display: none;"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="modal-footer justify-content-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button id="btn-send-email" type="button" class="btn btn-light" onclick="sendOrderEmail()"><i class="fa fa-envelope text-purple"></i> Send Email</button>
                <button id="btn-send-email-lock" type="button" class="btn btn-light" disabled><i class="fa fa-lock text-purple"></i> Send Email - Upgrade To Standard</button>
                <button id="email-wait" type="button" class="btn btn-light" disabled><i class="fas fa-spinner fa-pulse text-purple"></i> Please wait...</button>
            </div>
        </div>

    </div>
    <!-- /.modal-content -->
</div>

@section scripts{
    <script src="~/Scripts/Inventory/orders.js"></script>
    <script src="~/Scripts/Inventory/app.inbox.js"></script>

    <script>
        function viewInvoice(id) {
            window.location.href = '@Url.Action("Invoice","Invoicing")' + '/' + id;
        }
    </script>
}