.safri-input-style {
    border-width:2px !important;   
    border-bottom:none;
    border-top:none;
    border-right:none;
}

.safri-input-style-borders {
    height:50px;
}

.safri-text-style{
    font-weight: normal !important;
    display:block !important;
}

.safri-card-title{
    text-align:right !important;
    display:initial;
}

.safri-bg-image {
    background: url("../img/aboutg.jpg") !important;
}

.safri-cards-height{
}

.cursor-pointer{
    cursor:pointer;
}

.safri-file-input {
    border-top:none !important;
    border-left:none !important;
    border-right:none !important;
    border-radius:0px !important;
}

#dropzone {
    border: 3px dashed #17a2b8;
    color: #28a745;
    padding: 50px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

#dropzone.in {
    width: 100%;
    font-size: larger;
}

#dropzone.hover {
    background: #17a2b8;
    color: #fff;
    border: 3px dashed #fff;
}

#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

.btn-secondary {
    background-color: transparent !important;
    border-color: #17a2b8 !important;
    color: #17a2b8 !important;
    /*height:40px !important;
    width:40px !important;*/
}

    .btn-secondary:hover {
        background-color: #17a2b8 !important;
        color: white !important;
    }

    body {
        font-family: 'Century Gothic' !important;
        font-size: 13px !important;
    }

.note-insert{
    display:none;
}

.note-editing-area{
    height: 300px;
}

.dt-buttons {
    background-color: transparent !important;
    border-color: #17a2b8 !important;
}

.modal-xl {
    max-width: 92% !important;
}

.modal-lg{
    max-width:55% !important;
}

.select2-selection--single {
    height: 40px !important;
}

th {
    max-width: 100px;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: #eee;*/
    transition: opacity 1s, visibility 0.75s;
    z-index: 9999;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 120px;
    height: 120px;
    border: 20px dotted;
    border-color: transparent;
    border-top-color: #17a2b8;
    border-right-color: #17a2b8;
    border-bottom-color: #17a2b8;
    border-left-color: #17a2b8;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

