
@{
    ViewBag.Title = "TrialBalanceAccounts";
}

<style>
    .indexStyle {
        text-align: center;
    }

    .buttonWidth {
        text-align: center;
        width: 150px;
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    @*<div class="small-box bg-white border-left border-info safri-input-style">
                            <div class="inner">
                                <h3>Products:</h3>
                                <p>Home / Stock</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-dolly text-dark"></i>
                            </div>
                        </div>*@
                </div><!-- /.col -->
                <div class="col-sm-6">
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title"><i class="fas fa-coins"></i> Trial Balances</h4>
                        </div>
                        <div class="card-body">
                            <span class="text-right mr-1"><button id="CreateTrialBalance" type="submit" class="btn btn-light" onclick="openCreateTBModal()"><i class="fa fa-edit text-info"></i> Create</button></span>
                            <span class="text-right">
                                <button id="ImportTrialBalance" type="submit" class="btn btn-light"><i class="fa fa-upload text-info"></i> Import</button>
                            </span>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="trialBalanceTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Linked GL Accounts</th>
                                        <th>Account Number</th>
                                        <th>Account Name</th>
                                        <th>Index</th>
                                        <th>Sorting</th>
                                        <th>Link GL Accounts</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>

        </div>
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
<!-- Modal -->
<div class="modal fade" id="createTrialBalanceModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@*<i class="fa fa-plus"></i>*@Create Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body login-card-body">
                <div class="row">
                    <div class="mb-3 col-md-12">
                        <div class="input-group form-group bmd-form-group is-filled">
                            <label class="bmd-label-floating">Account Name</label>
                            <input id="accountName" class="form-control" type="text">
                            <div class="input-group-append">
                                <div class="input-group-text bg-white border-white">
                                    <span class="fa fa-edit text-info"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button id="createTrialBalanceBtn" onclick="createTBAccount()" type="button" class="btn btn-light"><i class="fa fa-edit text-info"></i> Create</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Upload Data -->
<div class="modal fade" id="upload-excel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="tenants-documents-title" class="modal-title">@*<i class="fa fa-plus"></i>*@Import Trial Balance Accounts</h5>
                <input type="text" id="tenant-id" hidden />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><i class="fa fa-paste"></i> Import Excel Data</h4>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="alert alert-info" style="border:none !important;">
                            <strong>NB!</strong> Please only provide us with the Account Name column in your excel.
                        </div>
                        <div id="dropzone" class="fade">
                            <h3>Drag & Drop File</h3>
                        </div>
                    </div>
                    <div class="card-body">

                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="modal-footer justify-content-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Modal -->
<div class="modal fade" id="trialBalanceResultsModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@*<i class="fa fa-plus"></i>*@Import Results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body login-card-body">
                <table id="trialBalanceResultsTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Message</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                </table>
            </div>
            <div class="modal-footer justify-content-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Modal -->
<div class="modal fade" id="linkGlAccountsModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@*<i class="fa fa-plus"></i>*@Link Gl Accounts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body login-card-body">
                <table id="glAccountsTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Gl Account Number</th>
                            <th>Gl Account Name</th>
                            <th>Debit</th>
                            <th>Credit</th>
                            <th>Link</th>
                        </tr>
                    </thead>

                </table>
            </div>
            <div class="modal-footer justify-content-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Modal -->
<div class="modal fade" id="linkedGlAccountsModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@*<i class="fa fa-plus"></i>*@Linked Gl Accounts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body login-card-body">
                <table id="linkedGlAccountsTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Gl Account Number</th>
                            <th>Gl Account Name</th>
                            <th>Unlink</th>
                        </tr>
                    </thead>

                </table>
            </div>
            <div class="modal-footer justify-content-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts{
    <script src="~/Scripts/Accounting/trialbalance.js"></script>
}
