
@{
    ViewBag.Title = "TrialBalanceAccounts";
}

<style>
    .indexStyle {
        text-align: center;
    }

    .buttonWidth {
        text-align: center;
        width: 10% !important;
        min-width: 10% !important;
        max-width: 10% !important;
    }

    .textFieldWidth {
        width: 45% !important;
        min-width: 45% !important;
        max-width: 45% !important;
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    @*<div class="small-box bg-white border-left border-info safri-input-style">
                            <div class="inner">
                                <h3>Products:</h3>
                                <p>Home / Stock</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-dolly text-dark"></i>
                            </div>
                        </div>*@
                </div><!-- /.col -->
                <div class="col-sm-6">
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title"><i class="fas fa-coins"></i> Trial Balances</h4>
                        </div>
                        <div class="card-body">
                            <span class="text-right mr-1"><button id="CreateTrialBalance" type="submit" class="btn btn-light" onclick="openCreateTBModal()"><i class="fa fa-edit text-info"></i> Create</button></span>
                            <span class="text-right">
                                <button id="ImportTrialBalance" type="submit" class="btn btn-light"><i class="fa fa-upload text-info"></i> Import</button>
                            </span>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="trialBalanceTable" class="table table-bordered " style="width:100%;max-width:100%;min-width:100%;">
                                        
                                    </table>
                                </div>
                            </div>
                            
                            
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>

        </div>
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
<!-- Modal -->
<div class="modal fade" id="createTrialBalanceModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@*<i class="fa fa-plus"></i>*@Create Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body login-card-body">
                <div class="row">
                    <div class="mb-3 col-md-12">
                        <div class="input-group form-group bmd-form-group is-filled">
                            <label class="bmd-label-floating">Account Name</label>
                            <input id="accountName" class="form-control" type="text">
                            <div class="input-group-append">
                                <div class="input-group-text bg-white border-white">
                                    <span class="fa fa-edit text-info"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button id="createTrialBalanceBtn" onclick="createTBAccount()" type="button" class="btn btn-light"><i class="fa fa-edit text-info"></i> Create</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Upload Data -->
<div class="modal fade" id="upload-excel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="tenants-documents-title" class="modal-title">@*<i class="fa fa-plus"></i>*@Import Trial Balance Accounts</h5>
                <input type="text" id="tenant-id" hidden />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><i class="fa fa-paste"></i> Import Excel Data</h4>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="alert alert-info" style="border:none !important;">
                            <strong>NB!</strong> Please only provide us with the Account Name column in your excel.
                        </div>
                        <div id="dropzone" class="fade">
                            <h3>Drag & Drop File</h3>
                        </div>
                    </div>
                    <div class="card-body">

                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="modal-footer justify-content-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Modal -->
<div class="modal fade" id="trialBalanceResultsModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@*<i class="fa fa-plus"></i>*@Import Results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body login-card-body">
                <table id="trialBalanceResultsTable" class="table table-bordered ">
                    <thead>
                        <tr>
                            <th>Message</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                </table>
            </div>
            <div class="modal-footer justify-content-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Modal -->
<div class="modal fade" id="linkGlAccountsModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@*<i class="fa fa-plus"></i>*@Link Gl Accounts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body login-card-body">
                <table id="glAccountsTable" class="table table-bordered ">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Gl Account Number</th>
                            <th>Gl Account Name</th>
                            <th>Debit</th>
                            <th>Credit</th>
                            <th>Link</th>
                        </tr>
                    </thead>

                </table>
            </div>
            <div class="modal-footer justify-content-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Modal -->
<div class="modal fade" id="linkedGlAccountsModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@*<i class="fa fa-plus"></i>*@Linked Gl Accounts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body login-card-body">
                <table id="linkedGlAccountsTable" class="table table-bordered ">
                    <thead>
                        <tr>
                            <th>Gl Account Number</th>
                            <th>Gl Account Name</th>
                            <th>Gl Account Description</th>
                            @*<th>Unlink</th>*@
                        </tr>
                    </thead>

                </table>
            </div>
            <div class="modal-footer justify-content-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts{
    <script>

        var trialBalanceTable;

        $(document).ready(function () {
            $("#linkGlAccountsModal").on('hide.bs.modal', function () {
                $("#" + currTbId).closest("tr").removeClass("bg-info");

            });

            $("#linkedGlAccountsModal").on('hide.bs.modal', function () {

                $("#" + currTbId).closest("tr").removeClass("bg-info");
            });


            trialBalanceTable = $("#trialBalanceTable").DataTable({
                scrollY: 550,
                ordering: false,
                destroy: true,
                paging: false,
                scrollCollapse: true,
                dom: '<"bottom row"<"center-col col-md-6"B><"right-col col-md-6"f>>rtip',
                "buttons": [{ extend: 'csv', exportOptions: { orthogonal: { display: ':null' } } }, { extend: 'excel', exportOptions: { orthogonal: { display: ':null' } } }],
                lengthMenu: [[-1], ["All"]],
                //order: [[0, "asc"]],
                //"order": [[3, "asc"]],
                ajax: {
                    url: '/api/Accounting/GetTrialBalanceAccounts/',
                    method: 'GET',
                    "dataSrc": "Obj"
                },
                'columns': [
                    {
                        title: 'Linked Gls',
                        'data': 'Index',
                        'searchable': true,
                        'className': 'buttonWidth',
                        'render': function (data, type, full, meta) {
                            if (userWrite == 'true') {
                                return '<td class="text-right py-0 align-middle"> <div class="btn-group btn-group-sm"> <a id="' + full.Id + '" class="btn btn-light" href="#" onclick="linkedGlAccounts(this.id)"><i class="fas fa-eye text-info"></i></a> </div> </td>';
                            } else {
                                return '';
                            }
                            
                        }
                    },
                    {
                        title: 'Account Number',
                        'data': 'AccountNumber',
                        'className': 'textFieldWidth',
                        'searchable': true
                    },
                    {
                        title: 'Account Name',
                        'data': 'AccountName',
                        'className': 'textFieldWidth',
                        'searchable': true
                    }
                    //{
                    //    'data': 'Index',
                    //    'searchable': true,
                    //    'className': 'indexStyle'
                    //},
                    //{
                    //    'data': 'Id',
                    //    'searchable': true,
                    //    'className': 'buttonWidth',
                    //    'render': function (data) {
                    //        return '<td class="text-right py-0 align-middle" style="height:20px !important;"> <div class="btn-group btn-group-sm"> <a id="' + data + '" class="btn btn-light" href="#" onclick="moveUp(this.id)"><i class="fas fa-arrow-up text-info"></i></a> <a id="' + data +'" class="btn btn-light" href="#" onclick="moveDown(this.id)"><i class="fas fa-arrow-down text-info"></i></a> </div> </td>'
                    //    }
                    //},
                    //{
                    //    'data': 'Id',
                    //    'searchable': true,
                    //    'className': 'buttonWidth',
                    //    'render': function (data) {
                    //        return '<td class="text-right py-0 align-middle"> <div class="btn-group btn-group-sm"> <a id="' + data + '" class="btn btn-light" href="#" onclick="linkGlAccounts(this.id)"><i class="fas fa-link text-info"></i></a> </div> </td>'
                    //    }
                    //}
                ]
            });

            

        });

        function openCreateTBModal() {
            $("#createTrialBalanceModal").modal('show');
        }

        function createTBAccount() {

            var accountName = $("#accountName").val();

            if (accountName == '') {
                toastr.error("Missing account name!");
                return;
            }

            var tbAccount = {
                'AccountName': accountName
            };

            $.ajax({
                url: '/api/Accounting/CreateUpdateTBAccount',
                method: 'POST',
                dataType: 'json',
                data: tbAccount,
                contextType: "application/json",
                traditional: true
            }).done(function (data) {
                if (data.Success) {
                    $('#createTrialBalanceModal').modal('hide');
                    trialBalanceTable.ajax.reload();
                } else {
                    toastr.error(data.Message);
                }
            });
        }

        function moveUp(tbId) {

            if (tbId == '') {
                toastr.error("Missing account id, contact support!");
                return;
            }

            var tbAccount = {
                'Id': tbId
            };

            $.ajax({
                url: '/api/Accounting/MoveUp',
                method: 'POST',
                dataType: 'json',
                data: tbAccount,
                contextType: "application/json",
                traditional: true
            }).done(function (data) {
                if (data.Success) {
                    trialBalanceTable.ajax.reload(function (res) {
                        console.log(res);
                    }, false);
                    setTimeout(function () {
                        $("#" + tbId).closest("tr").addClass("bg-info");
                    }, 50);
                } else {
                    toastr.error(data.Message);
                }
            });
        }

        function moveDown(tbId) {
            if (tbId == '') {
                toastr.error("Missing account id, contact support!");
                return;
            }

            var tbAccount = {
                'Id': tbId
            };

            $.ajax({
                url: '/api/Accounting/MoveDown',
                method: 'POST',
                dataType: 'json',
                data: tbAccount,
                contextType: "application/json",
                traditional: true
            }).done(function (data) {
                if (data.Success) {
                    trialBalanceTable.ajax.reload(function (res) {
                        console.log(res);
                    }, false);
                    setTimeout(function () {
                        $("#" + tbId).closest("tr").addClass("bg-info");
                    }, 50);

                } else {
                    toastr.error(data.Message);
                }
            });
        }


        $('#ImportTrialBalance').on('click', function () {
            $('#upload-excel').modal('show');

            $('#dropzone').fileupload({
                dropZone: $('#dropzone'),
                dataType: "application/json",
                url: '/api/Accounting/UploadExcelData/' + "1"
            }).on('fileuploadadd', function (e, data) {
                data.submit();
            }).on('fileuploadalways', function (e, data) {

                trialBalanceTable.ajax.reload();
                $('#upload-excel').modal('hide');

                var responseJson = $.parseJSON(data.jqXHR.responseText);

                trialBalanceResultsDT.clear();
                trialBalanceResultsDT.rows.add(responseJson.Obj);
                trialBalanceResultsDT.draw();

                $('#trialBalanceResultsModal').modal('show');
                var dropZone = $('#dropzone');
                dropZone.removeClass('hover');
            });

            $(document).bind('dragover', function (e) {
                var dropZone = $('#dropzone');
                dropZone.addClass('hover');
            });

            $(document).bind('dragleave', function (e) {
                var dropZone = $('#dropzone');
                dropZone.removeClass('hover');
            });

            $(document).bind('drop dragover', function (e) {
                e.preventDefault();
            });

        });

        var trialBalanceResultsDT = $("#trialBalanceResultsTable").DataTable({
            "responsive": true,
            "autoWidth": false,
            "info": true,
            dom: '<"bottom row"<"center-col col-md-6"B><"right-col col-md-6"f>>rtip',
            "buttons": [{ extend: 'csv', exportOptions: { orthogonal: { display: ':null' } } }, { extend: 'excel', exportOptions: { orthogonal: { display: ':null' } } }],
            lengthMenu: [[10, 20, 30, -1], [10, 20, 30, "All"]],
            data: [],
            columns: [
                {
                    data: "Message"
                },
                {
                    data: "Success",
                    className: 'indexStyle',
                    render: function (data) {
                        console.log(data);
                        if (data == true)
                            return '<span><i class="fa fa-check text-success"></i></span>';
                        else
                            return '<span><i class="fas fa-times text-danger"></i></span>';
                    }
                }
            ]
        });

        var glAccountsDT = $("#glAccountsTable").DataTable({
            "responsive": true,
            "autoWidth": false,
            "info": true,
            dom: '<"bottom row"<"center-col col-md-6"B><"right-col col-md-6"f>>rtip',
            "buttons": [{ extend: 'csv', exportOptions: { orthogonal: { display: ':null' } } }, { extend: 'excel', exportOptions: { orthogonal: { display: ':null' } } }],
            lengthMenu: [[10, 20, 30, -1], [10, 20, 30, "All"]],
            data: [],
            columns: [
                {
                    data: "DateStr"
                },
                {
                    data: "AccountNumber"
                },
                {
                    data: "AccountName",
                },
                {
                    data: "Debit",
                    'render': function (data, type, full, meta) {
                        if (type === 'display')
                            return '<a href="#">' + new Intl.NumberFormat(currencyIsoName, { style: 'currency', currency }).format(data) + '</a>';
                        else
                            return data;
                    }
                },
                {
                    data: "Credit",
                    'render': function (data, type, full, meta) {
                        if (type === 'display')
                            return '<a href="#">' + new Intl.NumberFormat(currencyIsoName, { style: 'currency', currency }).format(data) + '</a>';
                        else
                            return data;
                    }
                },
                {
                    data: "Id",
                    render: function (data) {
                        return '<span><div class="btn-group btn-group-sm"> <a id="' + data + '" class="btn btn-light" href="#" onclick="linkGlAccount(this.id)"><i class="fas fa-link text-info"></i></a> </div></span>';
                    }
                }
            ]
        });

        var linkedGlAccountsDT = $("#linkedGlAccountsTable").DataTable({
            "responsive": true,
            "autoWidth": false,
            "info": true,
            dom: '<"bottom row"<"center-col col-md-6"B><"right-col col-md-6"f>>rtip',
            "buttons": [{ extend: 'csv', exportOptions: { orthogonal: { display: ':null' } } }, { extend: 'excel', exportOptions: { orthogonal: { display: ':null' } } }],
            lengthMenu: [[10, 20, 30, -1], [10, 20, 30, "All"]],
            data: [],
            columns: [
                {
                    data: "AccountNumber"
                },
                {
                    data: "AccountName",
                },
                {
                    data: "AccountDescription",
                },
                //{
                //    data: "Id",
                //    render: function (data) {
                //        return '<span><div class="btn-group btn-group-sm"> <a id="' + data + '" class="btn btn-light" href="#" onclick="unlinkGlAccount(this.id)"><i class="fas fa-unlink text-info"></i></a> </div></span>';
                //    }
                //}
            ]
        });

        var currTbId = 0;

        function linkGlAccounts(tbId) {
            $("#linkGlAccountsModal").modal("show");
            loadUnMappedGlAccounts();
            currTbId = tbId;
        }

        function linkGlAccount(glId) {

            var vm = {
                'GeneralLedgerId': glId,
                'TrialBalanceAccountId': currTbId
            };

            $.ajax({
                url: '/api/Accounting/MapGeneralLedger',
                method: 'POST',
                dataType: 'json',
                data: vm,
                contextType: "application/json",
                traditional: true
            }).done(function (data) {
                if (data.Success) {
                    loadUnMappedGlAccounts();
                    setTimeout(function () {
                        $("#" + currTbId).closest("tr").addClass("bg-info");
                    }, 50);
                } else {
                    toastr.error(data.Message);
                }
            });
        }

        function loadUnMappedGlAccounts() {

            $.ajax({
                url: '/api/Accounting/GetUnmappedGlAccounts',
                method: 'GET',
                dataType: 'json',
            }).done(function (data) {
                if (data.Success) {
                    glAccountsDT.clear();
                    glAccountsDT.rows.add(data.Obj);
                    glAccountsDT.draw();
                    setTimeout(function () {
                        $("#" + currTbId).closest("tr").addClass("bg-info");
                    }, 50);
                } else {
                    toastr.error(data.Message);
                }
            });
        }

        function linkedGlAccounts(tbId) {

            currTbId = tbId;

            $.ajax({
                url: '/api/Accounting/GetMappedGlAccounts/' + tbId,
                method: 'GET',
            }).done(function (data) {
                if (data.Success) {
                    $("#linkedGlAccountsModal").modal('show');
                    linkedGlAccountsDT.clear();
                    linkedGlAccountsDT.rows.add(data.Obj);
                    linkedGlAccountsDT.draw();
                    setTimeout(function () {
                        $("#" + tbId).closest("tr").addClass("bg-info");
                    }, 50);
                } else {
                    toastr.error(data.Message);
                }
            });
        }

        function unlinkGlAccount(glId) {

            var vm = {
                'GeneralLedgerId': glId,
                'TrialBalanceAccountId': currTbId
            };

            $.ajax({
                url: '/api/Accounting/UnmapGeneralLedger',
                method: 'POST',
                dataType: 'json',
                data: vm,
                contextType: "application/json",
                traditional: true
            }).done(function (data) {
                if (data.Success) {
                    linkedGlAccounts(currTbId);
                } else {
                    toastr.error(data.Message);
                }
            });
        }

    </script>
}
